opensdg-web/web
opensdg-web/src/_site/
opensdg-web/src/opensdg-datos
opensdg-web/src/.sass-cache/
opensdg-web/src/.jekyll-metadata
opensdg-web/src/.DS_Store
opensdg-web/src/.Rproj.user
opensdg-web/src/.Rhistory
opensdg-web/src/.spyproject/
opensdg-web/src/*__pycache__/
opensdg-web/src/*.Rproj
opensdg-web/src/Gemfile.lock
opensdg-web/src/deploy_key*
opensdg-web/src/deploy_key*.pub
opensdg-web/src/*.keybase
opensdg-web/src/vendor
opensdg-datos/src/node_modules
opensdg-datos/src/_site
opensdg-datos/src/opensdg-datos
opensdg-datos/src/es
opensdg-datos/src/en
opensdg-datos/src/metadata_generated
opensdg-datos/src/__pycache__

# TODO EDATOS-3208: Incluir traducciones no necesarias en .gitignore
#opensdg-web/src/translations/ar
#opensdg-web/src/translations/de
#opensdg-web/src/translations/fr
#opensdg-web/src/translations/hy
#opensdg-web/src/translations/kk
#opensdg-web/src/translations/ru
#opensdg-web/src/translations/zh-Hans