<div id="subindicator-metadata" class="tab-content">
    {% if site.metadata_tabs %}
        {% for tab in site.metadata_tabs %}
            {% comment %} @deprecated start {% endcomment %}
            {% assign tab_key = tab[0] %}
            {% assign tab_obj = tab[1] %}
            {% comment %} @deprecated end {% endcomment %}
            {% if tab.scope %}
                {% assign tab_key = tab.scope %}
                {% assign tab_obj = tab %}
            {% endif %}
            {% assign tab_description = tab_obj.description | default: tab_obj.blurb %}
            {% assign tab_include = 'components/indicator/metadata.html' %}
            {% if tab_key == 'sources' %}
                {% assign tab_include = 'components/indicator/sources.html' %}
            {% endif %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ tab_key }}">
                <article>
                    {% if tab_description %}
                        {{ tab_description | t | markdownify }}
                    {% endif %}
                    {% include {{ tab_include }} scope=tab_key %}
                </article>
            </div>
        {% endfor %}
    {% else %}
        {% include components/indicator/metadata-panes-default.html %}
    {% endif %}

    {% if page.indicator.reporting_status != 'notstarted' %}
        {% assign sorted_indicators = page.indicators | where: 'target_id', page.indicator.number | sort: 'sort_order' %}
        {% for s in sorted_indicators%}
            <div class="tab-pane {% if forloop.first %}active{% endif %}" id="subindicator{{ s.number | replace: '.', '' }}" role="tabpanel">

                <div class="mb-2 text-center">
                    <h3><b>{{ s.graph_title | t }}</b></h3>
                </div>

                <div id="metadata-graph">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#grafico-{{ s.slug }}" aria-controls="home" role="tab" data-toggle="tab">{{ page.t.general.grafico }}</a></li>
                        {% if s.show_map %}
                        <li role="presentation"><a onclick="window.dispatchEvent(new Event('resize'));" href="#mapa-{{ s.slug }}" aria-controls="profile" role="tab" data-toggle="tab">{{ page.t.general.mapa }}</a></li>
                        {% endif %}
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="grafico-{{ s.slug }}">
                            <div class="chart" id="chart-wrapper-{{ s.slug }}">
                                {% include components/subindicator/subindicator-chart.html scope=s %}
                            </div>
                        </div>
                        {% if s.show_map %}
                        <div role="tabpanel" class="tab-pane" id="mapa-{{ s.slug }}">
                            <div class="map" id="map-wrapper-{{ s.slug }}">
                                {% include components/subindicator/subindicator-map.html scope=s %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="metadata">
                    {% include components/subindicator/subindicator-metadata.html scope=s %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if site.environment == 'staging' %}
        <div class="tab-pane" id="edit" role="tabpanel">
            {% include components/indicator/edit-buttons.html %}
        </div>
    {% endif %}

    <div id="metadataDownload" class="clearfix">
        <button id="btnSaveMetadata" title="{{ page.t.indicator.download_metadata_title }}" class='btn btn-primary btn-download'>
            {{ page.t.indicator.download_metadata }}
        </button>
    </div>
</div>
