<script>
    const CONFIGURATION_FILE = 'configuration.json';

    function setFooter(elementId) {
        fetch(CONFIGURATION_FILE)
            .then(res => res.json())
            .then(json => {
                const apiUrl = `${json.metadata.endpoint}/properties/${json.metadata.footerPathKey}`;
                fetch(apiUrl)
                    .then(res => res.json())
                    .then(htmlUrl => {
                        fetchOptions = {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'text/html',
                            }
                        }

                        fetch(htmlUrl.value, fetchOptions)
                            .then(res => res.text())
                            .then(html => document.querySelector(elementId).innerHTML = html);
                    });
            });
    }

    // Insertamos el Footer
    setFooter("istac-footer");
</script>

<div id="istac-footer"></div>