{% include multilingual-js.html key="header" %}
<div id="istac-header-wrapper"></div>

<script src="{{ site.baseurl }}/assets/js/setElement.js"></script>

<script>
    // Insertamos el Header
    var configPath = '{{ site.baseurl }}/assets/configuration.json'
    setElement(HEADER, "istac-header-wrapper", configPath, "{{ site.baseurl }}");
    fetch(configPath)
        .then((res => res.json()))
        .then(json => {
            document.querySelector("#title-bar a").href = json.metadata.siteName;
        });
</script>

<header role="banner">
    <div class="container">

        <div class="logo-and-mobile-widgets">
            <a class="navbar-brand sustainable-brand" href="{{ page.baseurl }}" id="home">
                <img src="{{ site.baseurl }}/assets/img/{{ header_image }}" alt="{{ page.t.general.sdg }} - {{ page.t.header.tag_line }}"/>
            </a>
        </div>

        <nav class="navbar navbar-default" id="main-nav">

            <ul class="top-level">
                <li aria-label="Menu toggle. Click to expand or collapse the menu."
                    aria-haspopup="true"
                    id="menuToggle">

                    <button aria-expanded="false" data-target="menu-mobile">{{ page.t.menu.menu }}</button>
                    {% include navigation.html id="menu-mobile" %}
                </li>

                <li aria-label="Search toggle. Click to expand or collapse the search bar."
                    aria-haspopup="true"
                    id="searchToggle">

                    <button aria-expanded="false" data-target="search-mobile">{{ page.t.search.search }}</button>
                    
                    {% include search.html id="search-mobile" %}
                </li>
            </ul>

            {% include search.html id="search" %}

            {% include navigation.html id="menu" %}

        </nav>
    </div>

</header>