<script src="{{ site.baseurl }}/assets/js/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/tether/dist/js/tether.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/datatables-bootstrap/js/dataTables.bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/underscore/underscore-min.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/patternomaly/dist/patternomaly.js"></script>
<script>
  MathJax = {
    tex: {
      inlineMath: [
        ['$', '$'],
        ['\\(', '\\)']
      ]
    },
    svg: {
      fontCache: 'global'
    },
  };
</script>
<script type="text/javascript" id="MathJax-script" async src="{{ site.baseurl }}/assets/js/node_modules/mathjax/es5/tex-chtml.js"></script>
{% if page.indicator and page.indicator.graph_annotations %}
<script src="{{ site.baseurl }}/assets/js/node_modules/chartjs-plugin-annotation/chartjs-plugin-annotation.min.js"></script>
{% endif %}
{% if page.indicator and page.indicator.data_show_map %}
<script src="{{ site.baseurl }}/assets/js/node_modules/leaflet/dist/leaflet.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/leaflet.zoomshowhide/dist/leaflet-zoom-show-hide.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/chroma-js/chroma.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/iso8601-js-period/iso8601.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/leaflet-timedimension/dist/leaflet.timedimension.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/leaflet.zoomhome/dist/leaflet.zoomhome.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/leaflet-search/dist/leaflet-search.min.js"></script>
{% endif %}
<script src="{{ site.baseurl }}/assets/js/node_modules/autotrack/autotrack.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/html2canvas/dist/html2canvas.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/node_modules/file-saver/dist/FileSaver.min.js"></script>
{% include multilingual-js.html key="general" %}
{% include multilingual-js.html key="nuts" %}
{% include multilingual-js.html key="subindicator" %}
{% include multilingual-js.html key="search.search" %}
<script src='{{ site.baseurl }}/assets/js/sdg.js?v={{ cache_bust }}'></script>
{%- if site.custom_js -%}
{%- for custom_js_file in site.custom_js -%}
<script src="{{ site.baseurl }}{{ custom_js_file }}?v={{ cache_bust }}"></script>
{%- endfor -%}
{%- endif -%}
<script>
  $(function () {
    if ($('#indicatorData').length) {
      var domData = $('#indicatorData').data();

      if (domData.showdata) {

        $('.async-loading').each(function (i, obj) {
          $(obj).append($('<img />').attr('src', $(obj).data('img')).attr('alt', translations.indicator
            .loading));
        });

        var remoteUrl = '/comb/' + domData.id + '.json';
        if (opensdg.remoteDataBaseUrl !== '/') {
          remoteUrl = opensdg.remoteDataBaseUrl + remoteUrl;
        }

        $.ajax({
          url: remoteUrl,
          success: function (res) {

            $('.async-loading').remove();
            $('.async-loaded').show();

            var model = new indicatorModel({
                data: res.data,
                edgesData: res.edges,
                showMap: domData.showmap,
                country: domData.country,
                indicatorId: domData.indicatorid,
                shortIndicatorId: domData.id,
                chartTitle: domData.charttitle,
                chartTitles: domData.charttitles,
                measurementUnit: domData.measurementunit,
                showData: domData.showdata,
                graphType: domData.graphtype,
                startValues: domData.startvalues,
                graphLimits: domData.graphlimits,
                stackedDisaggregation: domData.stackeddisaggregation,
                graphAnnotations: domData.graphannotations
              }),
              view = new indicatorView(model, {
                rootElement: '#indicatorData',
                legendElement: '#plotLegend',
                maxChartHeight: 420,
                tableColumnDefs: [{
                    maxCharCount: 25
                  }, // nowrap
                  {
                    maxCharCount: 35,
                    width: 200
                  },
                  {
                    maxCharCount: Infinity,
                    width: 250
                  }
                ]
              }),
              controller = new indicatorController(model, view);
            controller.initialise();
          }
        });
      }
    }

    var switcher = new accessibilitySwitcher();


  });
  opensdg['map'] = {};
  opensdg['map']['lat'] = {{ site.map_lat }};
  opensdg['map']['lon'] = {{ site.map_lon }};
  opensdg['map']['zoom'] = {{ site.map_zoom }};

</script>
