<div class="zip-download-container">
    <a href="{{ page.remote_data_prefix }}/zip/all_indicators.zip"
       class="btn btn-primary btn-download" aria-describedby="zip-download-info">
        {{ page.t.frontpage.download_all }}
    </a>
    <div id="zip-download-info"></div>

    <a href="http://www.gobiernodecanarias.org/istac/descargas/C00124A/IDS-canarias-metodologia-v1.pdf"
        class="btn btn-primary btn-download" target="_blank">
        {{ page.t.frontpage.download_methodology }}
    </a>

    <!--
    <div id="zip-download-info">
        {{ page.t.frontpage.zip_file }} - {{ site.data.zip.size_human }}
        {% if site.data.zip.timestamp %}
            <br>
            {{ page.t.metadata_fields.national_data_update_url }} - {{ site.data.zip.timestamp | t_date: 'standard' }}
        {% endif %}
    </div>
    -->
</div>