<h1>
  {% if site.reporting_status.title %}
    {{ site.reporting_status.title | t }}
  {% else %}
    {{ page.t.status.reporting_status }}
  {% endif %}
</h1>

<p>Indicadores de Desarrollo Sostenible de Canarias es una operación estadística en construcción, a la que se van a ir incorporando nuevas series según la disponibilidad de nuevos datos de fuentes oficiales. </p>
<p>La actualización de las series disponibles se realizará de manera trimestral, en función de la actualización de cada una de las fuentes de datos de partida de cada indicador.</p>
  

{% if site.reporting_status.description %}
<div class="reporting-status-description">
  {{ site.reporting_status.description | t | markdownify }}
</div>
{% endif %}
