.navbar-brand {
    height: auto;
    max-width: auto;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-brand img {
    width: auto;
}

.sustainable-brand img {
    width: 100%;
}

.footer {
    height: auto;
    font-size: 1rem;
    font-weight: 300;
}