.navbar-brand {
    height: auto;
    max-width: auto;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-brand img {
    width: auto;
}

.sustainable-brand img {
    width: 100%;
}

#istac-footer footer {
    height: auto !important;
}

.social a img {
    float: none !important;
    margin: 0px !important;
}