<script src="{{ site.baseurl }}/assets/js/node_modules/jquery/dist/jquery.min.js"></script>
{% assign subindicator = include.scope %}

<div class="table-responsive">
    <table class="table">
        {% for indicator_metadata in site.data.schema %}
        {% if indicator_metadata.field.scope == "subindicator" %}
        <tr>
            <th>{{ site.data.translations[page.language].metadata_fields[indicator_metadata.name] }}</th>

            {% if indicator_metadata.name == 'formula_teorica' %}
                <td class="formula_teorica_container" id="formula_teorica_container{{ subindicator['slug'] }}"><p class="justified-text">{{ subindicator[indicator_metadata.name] }}</p></td>
                <script>
                    var codigoFormulaTeorica = "{{ subindicator[indicator_metadata.name] }}";
                    var numeroDeFormulasTeoricas = (codigoFormulaTeorica.match(/\$+(.*?)\$+/g) || []).length;
                    $('#formula_teorica_container{{ subindicator["slug"] }}').bind('DOMNodeInserted', function() {
                        var numeroFormulasCreadas = ($('#formula_teorica_container{{ subindicator["slug"] }}').html().match(/\<mjx-container/g) || []).length;
                        if (numeroFormulasCreadas >= numeroDeFormulasTeoricas) {
                            $('#formula_teorica_container{{ subindicator["slug"] }}').fadeIn(1000);
                        }
                        return;
                    });
                </script>
            {% else %}
                <td><p class="justified-text">{{ subindicator[indicator_metadata.name] | t }}</p></td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
            <th>Nota</th>
            <td>
                {% if subindicator['coordinado_con_ocecas'] == true %}
                    <div class="row">
                        <img class="col-md-3" id="imagen_serie" src="{{ site.baseurl }}/assets/img/{{ page.imagen_serie_ocecas }}" alt="ISTAC/OCECAS" />
                        <span class="col-md-9">{{ page.texto_serie_ocecas }}</span> 
                    </div>
                {% else %}
                    <div class="pull-left">
                        <img id="imagen_serie" src="{{ site.baseurl }}/assets/img/{{ page.imagen_serie }}" alt="ISTAC" />
                    </div>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
