{% assign subindicator = include.scope %}
<table class="table">
    {% for indicator_metadata in site.data.schema %}
    {% if indicator_metadata.field.scope == "subindicator" %}
    <tr>
        <th>{{ site.data.translations[page.language].metadata_fields[indicator_metadata.name] }}</th>
        <td>
            {% if indicator_metadata.name == "formula_teorica" %}
            $${{ subindicator[indicator_metadata.name] }}$$
            {% else %}
            {{ subindicator[indicator_metadata.name] }}
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
        <th>Nota</th>
        <td>
            <div class="pull-left">
                <!-- TODO EDATOS-3208: Se deja un lorem en el alt de la imagen hasta que se elija el texto correcto.  -->
                <img style="width: 120px;" id="imagen_serie" src="{{ site.baseurl }}/assets/img/{{ page.imagen_serie }}" alt="Irure culpa consectetur voluptate dolore enim enim non." />
                {{ page.texto_serie }}
            </div>
        </td>
    </tr>
</table>