{% assign subindicator = include.scope %}
<table class="table">
    {% for indicator_metadata in site.data.schema %}
    {% if indicator_metadata.field.scope == "subindicator" %}
    <tr>
        <th>{{ site.data.translations[page.language].metadata_fields[indicator_metadata.name] }}</th>
        <td>
            {% if indicator_metadata.name == "formula_teorica" %}
            $${{ subindicator[indicator_metadata.name] }}$$
            {% else %}
            {{ subindicator[indicator_metadata.name] }}
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
        <th>Nota</th>
        <td>
            {% if subindicator['coordinado_con_ocecas'] == true %}
                <div class="pull-left">
                    <img style="width: 120px;" id="imagen_serie" src="{{ site.baseurl }}/assets/img/{{ page.imagen_serie_ocecas }}" alt="{{ page.texto_serie_ocecas }}" />
                    {{ page.texto_serie_ocecas }}
                </div>
            {% else %}
                <div class="text-center">
                    <img style="width: 240px;" id="imagen_serie" src="{{ site.baseurl }}/assets/img/{{ page.imagen_serie }}" alt="ISTAC" />
                </div>
            {% endif %}
        </td>
    </tr>
</table>