<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% assign subindicator = include.scope %}

{% assign show_data = false %}
{% if subindicator.reporting_status == "complete" and subindicator.data_non_statistical != true %}
{% assign show_data = true %}
{% endif %}

{% if show_data %}
<canvas height="200" id="subindicator-chart-{{ subindicator.slug }}" width="400"></canvas>
<script>
  fetch("{{ page.remote_data_prefix }}/data/{{ subindicator.slug }}.json")
    .then(res => res.json())
    .then(json => {
      var ctx = document.getElementById('subindicator-chart-{{ subindicator.slug }}').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: json.Year,
          datasets: [{
            label: subindicator.unidad_medida,
            data: json.Value,
            backgroundColor: 'rgba(122,122,122,0.5)',
            borderColor: 'rgba(77,77,77,1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    });

</script>
{% endif %}
