<!-- Ojo: Esto no se borra para que sigan funcionando los tabs. -->
<li role="presentation" class="nav-item active" style="display: none;">
  <a class="nav-link" data-toggle="tab" id="tab-national" href="#national" aria-controls="national" role="tab" {% include autotrack.html preset="tab_meta_national" category="Tab change" action="Change metadata view" label="Change to Metadata tab" %}>{{ page.t.indicator.national_metadata }}</a>
</li>
<li role="presentation" class="nav-item" style="display: none;">
  <a class="nav-link" data-toggle="tab" id="tab-global" href="#global" aria-controls="global" role="tab" {% include autotrack.html preset="tab_meta_global" category="Tab change" action="Change metadata view" label="Change to Global Metadata tab" %}>{{ page.t.indicator.global_metadata }}</a>
</li>
<li role="presentation" class="nav-item" style="display: none;">
  <a class="nav-link" data-toggle="tab" id="tab-sources" href="#sources" aria-controls="sources" role="tab" {% include autotrack.html preset="tab_meta_sources" category="Tab change" action="Change metadata view" label="Change to Sources tab" %}>{{ page.t.indicator.sources }}</a>
</li>
