<div>
    <div class="col-md-6">
        {% if page.indicator["prev_indicator"] %}
            <a href="{{ site.baseurl }}/{{ page.indicator['prev_indicator'] }}" class="prev_next_button btn btn-primary btn-block G{{ page.indicator['sdg_goal'] }}-background">
                <b>
                    <i class="fa fa-icon-arrow-left"></i> {{ page.indicator['prev_indicator'] | | replace: '-', '.' }}
                </b>
            </a>
        {% endif %}
    </div>

    <div class="col-md-6">
        {% if page.indicator["next_indicator"] %}
            <a href="{{ site.baseurl }}/{{ page.indicator['next_indicator'] }}" class="prev_next_button btn btn-primary btn-block G{{ page.indicator['sdg_goal'] }}-background">
                <b>
                    {{ page.indicator['next_indicator'] | | replace: '-', '.' }} <i class="fa fa-icon-arrow-right"></i>
                </b>
            </a>
        {% endif %}
    </div>
</div>
